<%= form_with(model: reserve, local: true ) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, placeholder: "Ex.: Reserva - Catharina", class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, "Data" %>
    <%= f.date_field :date, :value => Time.zone.now.strftime('%Y-%m-%d'), class:"form-control"%>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :start, "Início" %>
        <%= f.select :start, hours_start, {}, class: 'custom-select' %>
      </div>
      <div class="col-md-6">
        <%= f.label :end, "Fim" %>
        <%= f.select :end, hours_end, {}, class: 'custom-select' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <%= f.submit  "Salvar" , class:"btn btn-primary btn-block" %>
    
<% end %>