<%= form_with(model: reserve, local: true ) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, placeholder: "Ex.: Reserva - Catharina", class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, "Data" %>
    <%= f.date_field :date, class:"form-control" %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :start, "Início" %>
        <%= f.select :start, hours, {}, class: 'custom-select' %>
      </div>
      <div class="col-md-6">
        <%= f.label :end, "Fim" %>
        <%= f.select :end, hours, {}, class: 'custom-select' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <% if reserve.id.present? %>
    <div class="opcoes">
      <%= f.submit  "Editar", class:"btn btn-warning btn-lg" %>
      <%= link_to  "Deletar", reserve, class:"btn btn-danger btn-lg",  method: :delete, data: { confirm: 'Deseja deletar essa reserva?' } if is_this_user?(reserve) %>
    </div>
  <% else %>
    <%= f.submit  "Adicionar" , class:"btn btn-primary btn-block" %>
  <% end %>
    
<% end %>