<%= form_with(model: reserve, local: true ) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, placeholder: "Ex.: Reserva - Catharina", class:"form-control" %>
  </div>
  <!-- <div class="form-group">
    <%= f.label :date_start, "Data" %>
    <%= f.datetime_select :date_start, class:"form-control" %>
  </div> -->
  <div class="form-group">
    <div class="col-md-12">
      <%= f.label :date_start, "Início" %>
      <%= f.datetime_select :date_start , class:"datepicket" %>
    </div>
    <div class="col-md-12">
      <%= f.label :date_end, "Fim" %>
      <%= f.datetime_select :date_end , class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <% if @reserve.id.present? %>
    <div class="row">
      <%= f.submit  "Editar", class:"btn btn-warning btn-lg" %>
      <%= link_to  "Deletar", root_url, class:"btn btn-danger btn-lg" %>
    </div>
  <% else %>
    <%= f.submit  "Adicionar" , class:"btn btn-primary btn-block" %>
  <% end %>
    
<% end %>