<ul class="listagem">
  <li>
    <%= render 'data', data: '31 out' %>
  </li>
  <li>
    <%= render 'item_reserva' %>
  </li>
  <li>
    <%= render 'item_reserva' %>
  </li>
  <li>
    <%= render 'item_reserva' %>
  </li>
  <li>
    <%= render 'data', data: '1 nov' %>
  </li>
  <li>
    <%= render 'item_reserva' %>
  </li>
  <li>
    <%= render 'item_reserva' %>
  </li>

</ul>